$colors: (
	common: (
		white: #fff,
		black: #000,
		blue: #2785ff,
		heading: #3d3d33,
		text: #777777,
		border: #0d0d0d,
		placeholder: #777777,
	),
	theme: (
		1: #0d0d0d,
		2: #3d3d33,
		3: #f8f5f0,
	),
	bg: (
		gray: #f3f4f6,
		black: #000,
		footer: #f6f6f6,
	),
);
